[data-theme="dark"] {
  --primary: #cc343e;
  --primary-hover: #f53a4c;
  --primary-active: #81212b;
  --primary-focus: rgba(204, 52, 62, 0.25);
  --card-background-color: rgb(32, 30, 30);
  --bg-color: rgb(23, 22, 22);
  
  --main-text-color: #edf0f3; 
  --sub-text-color: #bbc6ce;
  
  --fc-today-bg-color: transparent;
  --fc-button-bg-color: var(--primary);
  --fc-page-bg-color: var(--bg-color);
  --fc-button-hover-bg-color: var(--primary-hover);
  /* --fc-button-hover-border-color: var(--primary-hover); */
  --fc-button-active-border-color: var(--primary-active);
}

main {
  padding: 1rem !important;
}

section {
  margin-bottom: 1em;
}

a, button {
  box-shadow: none !important;
  border: 0;
}

:root {
  background-color: var(--bg-color);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

article {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
}

::before {
  vertical-align: unset;
}

nav {
  height: 4rem;
  z-index: 99;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 var(--spacing);
  background-color: var(--bg-color);
  border-bottom: 2px solid rgba(255,255,255,0.15);
}

input {
  background-color: var(--bg-color);
  border-width: 1;
  border-color: Transparent;
  box-shadow: None;
}

input:focus {
  border-color: var(--color);
}

.container {
  padding-top: 1em;
}

/* FullCalendar */

.fc .fc-button-primary {
  border-width: 0 !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: var(--primary-active);
}

.fc-toolbar-chunk {
  display: flex;
  gap: .5em;
  margin: .5em;
}

.fc-direction-ltr .fc-toolbar>*>:not(:first-child) {
  margin: 0;
}

.fc .fc-button:focus {
  border-width: 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: .5em;
}

.fc-scrollgrid-section > td:first-child .fc-scroller {
  overflow: hidden !important;
}

table {
  margin: 0;
}

.fc-scrollgrid-sync-inner {
  display: inline-block !important;
}

table[role=grid] tbody tr:nth-child(odd) {
  background-color: transparent;
}

table a {
  color: var(--h1-color);
}

table a:hover {
  text-decoration: none;
}

.fc .fc-timeline-now-indicator-arrow, .fc .fc-timeline-now-indicator-line {
  border-color: var(--primary);
}

/* event priority buttons */

button.standard {
  border-color: #edf0f3;
}

button.notime {
  border-color: var(--primary);
}

button.uncertain {
  border-color: #efb700;
}

button.standard > img,
button.uncertain > img {
  filter: invert(100%);
  transition: filter var(--transition);
}

button.certain {
  border-color: #008450;
}

button.standard.pressed,
button.standard:hover {
  background-color: #edf0f3;
  color: var(--bg-color);
}

button.notime.pressed,
button.notime:hover {
  background-color: var(--primary);
}

button.uncertain.pressed,
button.uncertain:hover {
  background-color: #efb700;
  color: var(--bg-color);
}

button.standard.pressed > img,
button.standard:hover > img,
button.uncertain.pressed > img,
button.uncertain:hover > img {
  filter: invert(0%);
}

button.certain.pressed,
button.certain:hover {
  background-color: #008450;
}

.event-priority-container > button { 
  padding: 0.25em;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button > img {
  margin-right: .25em;
  margin-left: .25em;
}

.calendar-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.event-priority-button {
  color: #e8e9e9;
  border: .1em;
  border-style: solid;
  font-weight: bold;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}

/* Login */

main#mini {
  max-width: 30rem;
}

.mini-form > h1 {
  text-align: center;
  margin-bottom: 1em;
}

.mini-form > img {
  display: block;
  margin: .5em auto .5em auto;
}

/* Home */
article.organization {
  display: flex;
  gap: 1em;
  margin: .5em;
  padding: .5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

article.organization img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: .25rem .25rem .25rem #00000048;
}

/* Management */

aside {
  position: fixed;
  left: 0;
  top: 4rem;
  bottom: 0;
  width: 12rem;
  padding: 1rem;
  border-right: 2px solid rgba(255,255,255,0.15);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-color);
}

aside b {
  text-transform: uppercase;
  font-size: small;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside ul li {
  margin: 0;
  padding: 0;
}

.management-main {
  margin-left: 12rem;
  width: unset;
  display: flex;
  justify-content: center;
}

.management-main.team {
  margin-left: unset;
}

.management-main section {
  width: 32rem;
}

.management-main h2 {
  text-align: center;
}

.management-header {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.logo-header {
  flex-shrink: 0;
  background-color: var(--card-background-color);
  width: 8rem; 
  height: 8rem;
  border: 2px solid var(--main-text-color);
  border-radius: 50%;
  overflow: hidden;
}

.logo-header.team {
  border-radius: .5em;
}

.org-logo-header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.normal-text {
  font-weight: normal;
}

.management-main-button {
  flex-shrink: 0;
  border-radius: .5em;
  background-color: var(--card-background-color);
  border: 1px solid transparent;
}

.management-main-button:hover {
  border-color: var(--main-text-color);
}

.management-main-button-wrapper {
  margin-bottom: 2rem;
}

.management-main-button-wrapper figcaption {
  color: var(--main-text-color);
}

.user-preview-item {
  margin-bottom: .25rem;
  display: flex;
  align-items: center;

  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.user-preview-name {
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.\.user-preview-pic {
  background-color: var(--card-background-color);
  border: 1px solid var(--sub-text-color);
  border-radius: 50%;
  margin-left: .5em;
  margin-right: .5em;
  padding: .1em;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card {
  position: relative;
  overflow: hidden;
}

.team-card a,
.team-card h3 {
  position: relative;
  z-index: 3;
}

.team-card::before {
  left: -25%;
  background-color: var(--primary); 
  opacity: 0.10;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 93%;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

/* Team-Page */

.member-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.member-card {
  padding: 1em;
  text-align: center;
}