{% extends "base_layout.html" %}

{% block head %}
<script src="{{ dynamic_url_for(request, 'static', path='jquery-3.7.0.min.js') }}"></script>
<script src="{{ dynamic_url_for(request, 'static', path='jquery_post_lib.js') }}"></script>
{% endblock %}

{% block body %}
<main class="container" id="mini">
    <article>
        <form class="mini-form" id="admin-form">
            <img src="{{ dynamic_url_for(request, 'static', path='img/settings-32-2.svg') }}" alt="Calendar">
            <h1>Admin-Panel</h1>
            <label for="org-name">Organisationsname</label>
            <input type="text" id="org-name" required>
            <button type="submit" id="submit">Organisation erstellen</button>
        </form>
    </article>
</main>
{% endblock %}