<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>eSports-Kalender</title>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='img/calendar-16-1.5.svg', _external=True, _scheme='https') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='pico.css', _external=True, _scheme='https') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css', _external=True, _scheme='https') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock %}
    </head>
        <body>
            {% block body %}
            {% endblock %}
        </body>
</html>