{% extends "calendar_layout.html" %}


{% block head %}
<script src="{{ url_for('static', path='fullcalendar-scheduler-6.1.7/dist/index.global.min.js') }}"></script>
<script src="{{ url_for('static', path='fullcalendar-scheduler-6.1.7/dist/locales/de.js') }}"></script>
<script src="{{ url_for('static', path='calendar_lib.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
{% endblock %}

{% block body %}
<main class="container-fluid">
  <div id="calendar"></div>
  <div class="calendar-footer">
    <a href="#" id="calendar-save-btn" class="icon-button" role="button"><img
            src="{{ url_for('static', path='img/save-24-2.svg') }}" alt="">Speichern</a>
  </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');

        const calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            locale: 'de',
            allDayMaintainDuration: true,
            eventInteractive: true,
            initialView: 'resourceTimelineDay',
            nowIndicator: true,
            contentHeight: "auto",
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                end: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth',
            },
            navLinks: false, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            selectMirror: true,
            eventColor: '#81212b',
            resourceAreaHeaderContent: 'Teams',
            dayMaxEvents: false, // allow "more" link when too many events
            resourceLabelContent: function(arg) {
                let iconUrl = '';
                if (arg.resource.id.startsWith('team')) {
                    iconUrl = "{{ url_for('static', path='img/users-16-2.svg') }}";
                } else {
                    iconUrl = "{{ url_for('static', path='img/user-16-2.svg') }}";
                }
                return { html: '<img src="'+iconUrl+'" style="margin-left: .5em; margin-right: .5em">' + arg.resource.title };
            },
            select: (info) => {
                console.log(info);
                // create a new event object
                let eventData = {
                    id: '',
                    title: 'Termin',
                    start: info.startStr,
                    resourceId: info.resource._resource.id,
                    end: info.endStr,
                    resizable: true,
                    extendedProps: currentEventPriority,
                    color: currentEventPriorityColor,
                    textColor: getContrastColor(currentEventPriorityColor),
                };

                // render the event on the calendar
                calendar.addEvent(eventData);
                calendar.unselect();
            },
            eventClick: (info) => {
            },
        });

        {% for team in calendar.teams %}
          calendar.addResource({
            id: 'team{{ team.team_id }}',
            title: '{{ team.team_name }}',
          });
          {% for event in team.events %}
            calendar.addEvent({
                    id: event.id,
                    title: event.title,
                    start: event.start_point,
                    resourceId: 'team{{ team.id }}',
                    end: event.end_point,
                    resizable: true,
                    extendedProps: event.event_priority,
            });
          {% endfor %}
          {% for member in team.members %}
          calendar.addResource({
            id: 'member{{ member.user_id }}',
            parentId: 'team{{ team.team_id }}',
            title: '{{ member.username }}',
          });
          {% for event in member.events %}
            calendar.addEvent({
                    id: event.id,
                    resourceId: 'member{{ member.id }}',
                    title: event.title,
                    start: event.start_point,
                    end: event.end_point,
                    resizable: true,
                    extendedProps: event.event_priority,
            });
            {% endfor %}
          {% endfor %}
        {% endfor %}

        const saveBtn = document.getElementById("calendar-save-btn");
        saveBtn.addEventListener("click", (clickEvent) => {
          function eventsToJSON(events) {
            jsonEvents = [];
            events.map((event) => {
              jsonEvents.push({
                id: event.id,
                title: event.title,
                memo: '',
                start_point: event.start,
                end_point: event.end,
                event_priority: event.extendedProps,
              });
            })
            return jsonEvents;
          }
        
          function membersToJSON(memberResources) {
            return memberResources.map((memberResource) => {
              return {
                user_id: memberResource.id,
                username: memberResource.title,
                events: eventsToJSON(memberResource.getEvents()),
              }
            });
          }
    
          clickEvent.preventDefault();
          teamResources = calendar.getTopLevelResources();
    
          teamsJSON = teamResources.map((teamResource) => {
            return {
              team_id: teamResource.id,
              team_name: teamResource.title,
              events: eventsToJSON(teamResource.getEvents()),
              members: membersToJSON(teamResource.getChildren()),
            };
          });
          const jsonData = JSON.stringify({teams: teamsJSON});

          console.log(teamResourcesJSON);
    
          // Make POST request to server with event data
          // $.ajax({
          //   url: '/event_data',
          //   type: 'POST',
          //   contentType: 'application/json',
          //   data: JSON.stringify(EventDataList),
          //   beforeSend: () => {StartLoading(saveBtn)},
          //   complete: () => {StopLoading(saveBtn)},
          //   success: (data) => {
          //     updateEvents(data.events);
          //   },
          //   error: (xhr) => {
          //     alert(xhr.responseJSON.detail);
          //   }
          // });
          });

        calendar.render();
    });

  // declarations
  const controlsEl = document.createElement('div');
  controlsEl.classList.add('event-priority-container', 'grid');

  let currentButton = null;
  let currentEventPriority = ''; 
  let currentEventPriorityColor = '';

  const buttons = [
    {
      className: EventPriority.Standard,
      text: 'Standard',
      click: () => { handleEventPriorityButtonClick(EventPriority.Standard); },
      iconUrl: "{{ url_for('static', path='img/standard-24-2.svg') }}",
    },
    {
      className: EventPriority.NoTime,
      text: 'Keine Zeit',
      click: () => { handleEventPriorityButtonClick(EventPriority.NoTime); },
      iconUrl: "{{ url_for('static', path='img/notime-24-2.svg') }}",
    },
    {
      className: EventPriority.Uncertain,
      text: 'Unsicher',
      click: () => { handleEventPriorityButtonClick(EventPriority.Uncertain); },
      iconUrl: "{{ url_for('static', path='img/uncertain-24-2.svg') }}",
    },
    {
      className: EventPriority.Certain,
      text: 'Sicher',
      click: () => { handleEventPriorityButtonClick(EventPriority.Certain); }, 
      iconUrl: "{{ url_for('static', path='img/certain-24-2.svg') }}",
    },
  ];

  document.addEventListener('DOMContentLoaded', () => { calendarInit(); });


</script>

{% endblock %}