<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>eSports-Kalender</title>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='img/calendar-16-1.5.svg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='pico.css') }}">
        <script src="{{ url_for('static', path='jquery-3.7.0.min.js') }}"></script>
        <script src="{{ url_for('static', path='auth_lib.js') }}"></script>
        {% block head %}
        {% endblock %}
    </head>
        <body>
            <nav>
                <ul>
                  <li><a href="#"><strong>Nameee</strong></a></li>
                </ul>
                <ul>
                  <li><a href="/">Dashboard</a></li>
                  <li><a id="logout" href="#" role="button">Abmelden</a></li>
                </ul>
            </nav>
            {% block body %}
            {% endblock %}
        </body>
</html>