{% extends "base_layout.html" %}

{% block head %}
<script src="{{ url_for('static', path='jquery-3.7.0.min.js') }}"></script>
<script src="{{ url_for('static', path='jquery_post_lib.js') }}"></script>
{% endblock %}

{% block body %}
<main class="container" id="mini">
  <article>
    <form class="mini-form" id="create-team-form">
      <img src="{{ url_for('static', path='img/users-32-2.svg') }}" alt="Calendar">
      <h1>Team erstellen</h1>
      <label for="team-name">Name</label>
      <input id="team-name" type="text" required>
      <button type="submit" id="submit">Erstellen</button>
    </form>
  </article>
</main>
{% endblock %}