{% extends "home_layout.html" %}

{% block body %}
<main class="container-fluid">
  <h1>Willkommen zurück, {{ username }}!</h1>
  <section class="home-orgs">
    <article class="organization-card add-organization">
      <a class="organization-card-anchor" href="#">
        <img src="{{ url_for('static', path='img/plus-circle-64-2.svg') }}" alt="">
        <h3>Organisation hinzufügen</h3>
      </a>
    </article>
    {% for organization in organizations %}
    <article class="organization-card" id="{{organization.org_id}}">
      <a data-tooltip="Kalender" data-placement="bottom" id="calendar-anchor" href="/org/{{organization.org_id}}/calendar"><img src="{{ url_for('static', path='img/calendar-32-2.svg') }}" alt=""></a>
      <a class="organization-card-anchor" href="/org/{{organization.org_id}}">
        <figure class="organization-card-logo">
          <img src="{{ url_for('static', path='img/kronic.jpg') }}" alt="Organization Logo">
        </figure>
        <footer>
          <h3>{{ organization.org_name }}</h3>
        </footer>
      </a>
      </article>
    {% endfor %}
  </section>
</main>
{% endblock %}