{% extends "home_layout.html" %}

{% block head %}
<script src="{{ dynamic_url_for(request, 'static', path='calendar_lib.js') }}"></script>
{% endblock %}

{% block body %}
<main class="container-fluid">
  <h1>Willkommen zurück, {{ username }}!</h1>
  <section class="home-orgs">
    {% for organization in organizations %}
    <article class="organization-card" id="{{organization.org_id}}">
      <a data-tooltip="Kalender" data-placement="bottom" id="calendar-anchor" href="/org/{{organization.org_id}}/calendar"><img src="{{ dynamic_url_for(request, 'static', path='img/calendar-32-2.svg') }}" alt=""></a>
      <a class="organization-card-anchor" href="/org/{{organization.org_id}}">
        <figure class="organization-card-logo">
          <img src="{{ dynamic_url_for(request, 'static', path='img/org_logo.png') }}" alt="Organization Logo">
        </figure>
        <footer>
          <h3>{{ organization.org_name }}</h3>
        </footer>
      </a>
      </article>
    {% endfor %}
    <article class="organization-card add-organization">
      <a id="add-organization-card" class="organization-card-anchor" href="#">
        <img src="{{ dynamic_url_for(request, 'static', path='img/plus-circle-64-2.svg') }}" alt="">
        <h3>Organisation hinzufügen</h3>
      </a>
    </article>
  </section>
</main>

<script>
  $(document).ready(() => { 
    addOrganizationCardAnchorEl = document.getElementById("add-organization-card");
    addOrganizationCardAnchorEl.addEventListener("click", (event) => {
      event.preventDefault();
      const dlg = document.createElement('dialog');
      dlg.setAttribute('id', 'dlg');
      dlg.innerHTML +=
        '<article> ' +
          '<header>' +
            '<h3> Organistion hinzufügen </h3>' +
            '<a href="#" id="close-dlg-btn" class="dlg-button outline" role="button"><img src="{{ dynamic_url_for(request, "static", path="img/x-24-2.svg") }}" alt=""></a>' +
          '</header>' +
          '<div id="dlg-main">' +
            '<label for="add-code-input">Code eingeben:</label>' +
            '<input type="text" id="add-code-input">' +
          '</div>' +
          '<footer>' +
            '<a href="#" id="send-dlg-btn" class="dlg-button primary" role="button">Senden</a>' +
          '</footer>' +
        '</article>';
      dlg.setAttribute('open', '');
      document.body.appendChild(dlg);
      document.getElementById('add-code-input').focus();
      document.getElementById('add-code-input').select();
      document.addEventListener('keydown', handleEscKeyPress);
      const closeBtn = document.getElementById("close-dlg-btn");
      closeBtn.addEventListener("click", (event) => {
        event.preventDefault();
        closeDlg();
      });
      const sendDlgBtn = document.getElementById("send-dlg-btn");
      sendDlgBtn.addEventListener("click", (event) => {
        event.preventDefault();
        const AddCodeInputEl = document.getElementById("add-code-input");
        $.ajax({
          url: '/join-org/'+AddCodeInputEl.value,
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          beforeSend: () => {handleAjaxStart(sendDlgBtn)},
          complete: () => {handleAjaxComplete(sendDlgBtn)},
          success: (response) => {
            location.reload();
          },
          error: (xhr) => {
            alert(xhr.responseText);
          }
        });
      });
    });
  });
</script>
{% endblock %}