{% extends "base_layout.html" %}

{% block head %}
<script src="{{ url_for('static', path='jquery-3.7.0.min.js', _external=True, _scheme='https') }}"></script>
<script src="{{ url_for('static', path='jquery_post_lib.js', _external=True, _scheme='https') }}"></script>
{% endblock %}

{% block body %}
<main class="container" id="mini">
    <article>
        <form class="mini-form" id="signup-form">
            <img src="{{ url_for('static', path='img/calendar-32-2.svg', _external=True, _scheme='https') }}" alt="Calendar">
            <h1>Erstellen Sie Ihren Account</h1>
            <label for="username">Benutzername</label>
            <input type="text" id="username" autocomplete="off" required>
            <label for="password1">Passwort</label>
            <input type="password" id="password1" autocomplete="off" required>
            <label for="password2">Passwort wiederholen</label>
            <input type="password" id="password2" autocomplete="off" required>
            <button type="submit" id="submit">Registrieren</button>
            <a href="/login">Anmeldung</a>
        </form>
    </article>
</main>
{% endblock %}