{% extends "calendar_layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
<script src="{{ url_for('static', path='calendar_lib.js') }}"></script>
{% endblock %}

{% block body %}
<main class="management-main team">
  <section>
    <header class="management-header">
      <div class="logo-header org">
        <img src="{{ url_for('static', path='img/kronic.jpg') }}" alt="Organization Logo">
      </div>
      <div>
        <div id="team-header-wrapper">
        </div>
        <h5 id="create-info">{{ team_details.owner_name }}</h5>
      </div>
    </header>
    <div class="grid management-main-button-wrapper">
      <button class="management-main-button" onclick="location.href='/org/{{ org_id }}/calendar'"
              type="button">
        <img src="{{ url_for('static', path='img/calendar-32-2.svg') }}" alt="calendar-logo"></img>
        <figcaption>Kalender</figcaption>
      </button>

      <button class="management-main-button" id="generate-invite-btn" type="button" disabled>
        <img src="{{ url_for('static', path='img/user-plus-32-2.svg') }}" alt="team-logo"></img>
        <figcaption>Spieler einladen</figcaption>
      </button>
    </div>

    <h2 id="members-header">Mitglieder</h2>
    <div id="member-cards">
    </div>
  </section>
</main>

<script>
  const generateInviteBtnEl = document.getElementById('generate-invite-btn');
  const memberCardsEl = document.getElementById('member-cards');
  const membersHeaderEl = document.getElementById('members-header'); 
  const teamHeaderWrapperEl = document.getElementById('team-header-wrapper');

  const TeamRole = {
    OWNER: 'Eigentümer',
    ADMIN: 'Admin',
    STANDARD: 'Standard',
  };

  function updateMembers(currentUserId, teamMembers) {
    teamMembers.members.sort((a, b) => a.username.localeCompare(b.username));
    const currentMemberRole = determineRole(findMemberByUserId(teamMembers.members, currentUserId), teamMembers.owner_id);
    memberCardsEl.innerHTML = '';

    currentMemberRole === TeamRole.ADMIN || currentMemberRole === TeamRole.OWNER
      ? generateInviteBtnEl.removeAttribute('disabled')
      : generateInviteBtnEl.setAttribute('disabled', '');

    teamHeaderWrapperEl.innerHTML = '<h1>{{ team_details.team_name }}</h1>';

    if (currentMemberRole === TeamRole.ADMIN || currentMemberRole === TeamRole.OWNER) {
      teamHeaderWrapperEl.innerHTML += 
        '<a data-tooltip="Team bearbeiten" data-placement="bottom" href="#">' +
          '<img src="{{ url_for("static", path="img/edit-2-32-2.svg") }}" alt="">' +
        '</a>';
    }

    if (currentMemberRole === TeamRole.OWNER) {
      teamHeaderWrapperEl.innerHTML += 
      '<a data-tooltip="Team löschen" data-placement="bottom" href="#">' +
        '<img src="{{ url_for("static", path="img/trash-2-32-2.svg") }}" alt="">' +
      '</a>';
    }

    teamMembers.members.forEach((member) => {
      const memberRole = determineRole(member, teamMembers.owner_id);
      let newHTML = 
        '<article class="member-card" id="'+member.user_id+'">'+
          '<div class="member-card-image">'+
            '<img src="{{ url_for("static", path="img/kronic.jpg") }}" alt="">'+
          '</div>'+
          '<article class="member-card-detail">'+
            '<h3>'+member.username+'</h3>'+
            '<div class="member-roles">'+
              '<div class="member-role">'+
                '<span>'+memberRole+'</span>'+
              '</div>';
      if (member.user_id === '{{ user_id }}') {
        newHTML += 
          '<div class="member-role you">'+
            '<span>Du</span>'+
          '</div>';
      }

      if (currentMemberRole === TeamRole.ADMIN || currentMemberRole === TeamRole.OWNER) {

        if (currentUserId != member.user_id) {
          if (memberRole === TeamRole.ADMIN) {
            newHTML += 
              '<a data-tooltip="Admin-Rolle entziehen" data-placement="bottom" onClick="removeAdmin(event, \'' + member.user_id + '\')" class="change-member-role-icon" href="#">'+
                '<img src="{{ url_for("static", path="img/chevrons-down-16-2.svg") }}" alt="">'+
              '</a>';
          } else if (memberRole === TeamRole.STANDARD) {
            newHTML += 
              '<a data-tooltip="Admin-Rolle hinzufügen" data-placement="bottom" onClick="addAdmin(event, \'' + member.user_id + '\')" class="change-member-role-icon" href="#">'+
                '<img src="{{ url_for("static", path="img/chevrons-up-16-2.svg") }}" alt="">'+
              '</a>';
          }
        }
      }

      if (((currentMemberRole === TeamRole.ADMIN || currentMemberRole === TeamRole.OWNER) ||
        (member.user_id === '{{ user_id }}')) && (memberRole != TeamRole.OWNER)) {
          newHTML +=
          '<a data-tooltip="aus Team entfernen" data-placement="bottom" onClick="removeAdmin(event, \'' + member.user_id + '\')" class="change-member-role-icon" href="#">'+
            '<img src="{{ url_for("static", path="img/user-minus-16-2.svg") }}" alt="">'+
          '</a>';
      };

      newHTML += 
            '</div>'+
          '</article>'+
        '</article>';
      memberCardsEl.innerHTML += newHTML;
    });
  }

  function addAdmin(event, user_id) {
    postRoleChange(event, user_id, true);
  }

  function removeAdmin(event, user_id) {
    postRoleChange(event, user_id, false);
  }

  function postRoleChange(event, user_id, newAdminState) {
    event.preventDefault();
    $.ajax({
      url: '/org/' + '{{ org_id }}' + '/team/' + '{{ team_id }}/change-team-role',
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      data: JSON.stringify({ user_id: user_id, new_admin_state: newAdminState }),
      beforeSend: () => { handleAjaxStart(membersHeaderEl) },
      complete: () => { handleAjaxComplete(membersHeaderEl) },
      success: (data, response) => {
        updateMembers(data.user_id, data.team_members);
      },
      error: (xhr) => {
        alert(xhr.responseText);
      }
    });
}

  function determineRole(member, owner_id) {
    if (member == null) { return TeamRole.STANDARD };
    if (member.user_id === owner_id) {
      return TeamRole.OWNER;
    } else if (member.is_admin) {
      return TeamRole.ADMIN;
    } else {
      return TeamRole.STANDARD;
    }
  }

  function findMemberByUserId(members, userId) {
    return members.find(member => member.user_id === userId);
  }

  function getMembers() {
    $.ajax({
      url: '/org/'+'{{ org_id }}'+'/team/'+'{{ team_id }}/team-members',
      method: 'GET',
      beforeSend: () => {handleAjaxStart(membersHeaderEl)},
      complete: () => {handleAjaxComplete(membersHeaderEl)},
      success: (data, response) => {
        updateMembers(data.user_id, data.team_members);
      },
      error: (xhr) => {
        alert(xhr.responseText);
      }
    });
  };

  function closeDlg() {
    document.removeEventListener('keydown', handleEscKeyPress);
    const dlg = document.getElementById("dlg");
    dlg.remove();
  };

  function handleEscKeyPress(event) {
    if (event.key === 'Escape') {
      closeDlg();
    }
  };

  $(document).ready(() => { 
    getMembers();

    generateInviteBtnEl.addEventListener("click", () => {
      const dlg = document.createElement('dialog');
      dlg.setAttribute('id', 'dlg');
      dlg.innerHTML = 
      '<article> ' +
        '<header>' +
          '<h3> Zum Team einladen </h3>' +
          '<a href="#" id="close-dlg-btn" class="dlg-button outline" role="button"><img src="{{ url_for("static", path="img/x-24-2.svg") }}" alt=""></a>' +
        '</header>' +
        '<div id="dlg-main" aria-busy="true">' +
        '</div>' +
      '</article>';
      document.body.appendChild(dlg);
      dlg.open = true;

      function getInviteLink() {
        const mainContent = document.getElementById('dlg-main');
        const loadingInviteEl = document.getElementById('loading-invite');
        $.ajax({
          url: '/org/'+'{{ org_id }}'+'/team/'+'{{ team_id }}/generate-invite',
          method: 'POST',
          complete: () => {mainContent.removeAttribute('aria-busy')},
          success: (data) => {
            mainContent.innerHTML =           
            '<div class="copy-container">' +
              '<div class="copy-input">' +
                '<input type="text" id="url-input" value="'+window.location.hostname+'/invite/'+data.invite_id+'" readonly>' +
                '<button class="dlg-button" id="copy-url-btn">' +
                  '<img src="{{ url_for("static", path="img/copy-24-2.svg") }}" alt=""></button>' +
              '</div>' +
              '<p class="dlg-disclaimer">Einmal-Link. 24h lang gültig.</p>' +
            '</div>';

            const copyURLBtn = document.getElementById("copy-url-btn");
            copyURLBtn.addEventListener("click", (event) => {
              const urlInputEl = document.getElementById("url-input");

              navigator.clipboard.writeText(urlInputEl.value);

              copyURLBtn.setAttribute('data-tooltip', 'Kopiert!');
              copyURLBtn.setAttribute('data-placement', 'bottom');

              setTimeout(() => {
                copyURLBtn.removeAttribute('data-tooltip');
                copyURLBtn.removeAttribute('data-placement');
              }, 2000);
            });
          },
          error: (xhr) => {
            alert(xhr.responseText);
            dlg.remove();
          }
        });
      };

      const closeBtn = document.getElementById("close-dlg-btn");
      closeBtn.addEventListener("click", (event) => {
        event.preventDefault();
        closeDlg();
      });

      document.addEventListener('keydown', handleEscKeyPress);

      getInviteLink();
    });
  });


  createDateTimeStr = formatDateDDMMYYYY("{{ team_details.owner_datetime }}");
  const createDatetimeElement = document.getElementById("create-info");
  createDatetimeElement.innerHTML += ' · <span class="normal-text">' + createDateTimeStr + '</span>';
</script>
{% endblock %}