{% extends "base_layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
{% endblock %}

{% block body %}
<main class="container-fluid">
  <h1>{{ organization_details.org_name }}</h1>
  <h3>{{ organization_details.creator_name }} | {{ organization_details.create_datetime }}</h3>
  <button onclick="location.href='/org/{{ organization_details.org_id }}/calendar'" type="button">Kalender</button>
  <button onclick="location.href='/org/{{ organization_details.org_id }}/team-creation'" type="button">Team erstellen</button>

  <h2>Mitglieder ({{ organization_details.members|length }})</h2>
  {% for member in organization_details.members %}
    <article class="member" id="{{member.user_id}}">
      <h3>{{ member.username }}</h3>
    </article>
  {% endfor %}

    <h2>Teams ({{ organization_details.teams|length }})</h2>
  {% for team in organization_details.teams %}
    <article class="team" id="{{team.team_id}}">
      <h3>{{ team.team_name }}</h3>
    </article>
  {% endfor %}
</main>
{% endblock %}